html, body {
    background-color: #E3E3E3;
    margin: 0;
    padding: 0;
}

nav{
    display: block;
    width:100%;
    background-color: #E3E3E3;
    text-align:center;
    margin:0;
    padding:1vw 0 0 0;
    box-sizing: border-box;
}
nav a{
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #164B69;
    padding:0.5vw;
    margin:1vw;
    font-size: 1vw;
}
nav .topic{
    color:white;
    background-color:#164B69;
    padding: 1vw 1.5vw;
}

header{
    width:100%;
    background-color:#164B69;
    color: white;
    margin:0;
    box-sizing: border-box;
}
header h5 {
    font-size: 2vw;
    margin: 0;
}
header img{
    width:2vw;
    height:2vw;
}

article{
    width:100%;
    background-color:#E3E3E3;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.pictures{
    display:block;
    text-align:center;
    margin: 0 auto;
    padding:1vw 0;
    background-color: #E3E3E3;
    box-sizing: border-box;
    width:100%;
}
.pictures .img1{
    display: inline-block;
    margin: 0;
    width: 50vw;
    height:14vw;
}
.pictures .img2{
    display: inline-block;
    margin: 0;
    width: 20vw;
    height:14vw;
}
.round-pictures{
    text-align:center;
    margin: 0;
    padding: 0;
    background-color: #E3E3E3;
    box-sizing: border-box;
}
.pict{
    display:inline-block;
    margin: 1vw 6vw;
    padding:0.5vw;
    text-align: center;
    width: 10vw;
    box-sizing: border-box;
    vertical-align: top;
}
.round-pictures img{
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
}
.pict h4 {
    font-size: 1.2vw;
    margin: 0.5vw 0;
}

footer{
    width:100%;
    background-color:#E3E3E3;
    color:#164B69;
    text-align:center;
    font-weight: bold;
    padding: 2vw 0;
    margin:0;
    box-sizing: border-box;
    font-size: 1vw;
}

.card1 {
    display: block;
    background-color: pink;
    border-radius: 15px;
    padding: 1.5vw;
    margin: 2vw auto;
    width: 60%;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1vw;
}

.card1 img {
    display: inline-block;
    width: 12vw;
    border-radius: 10px;
    vertical-align: top;
    margin-right: 1vw;
    padding:0;
}

.card1 h4 {
    display: inline-block;
    width: 8vw;
    margin: 0;
    padding: 0 1vw;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.2vw;
}

.card1 p {
    display: inline-block;
    width: 60%;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
    line-height: 1.4;
    padding-left: 1vw;
    text-align:left;
}

.card2 {
    display: inline-block;
    width: 45%;
    background-color: lightblue;
    border-radius: 15px;
    padding: 1.5vw;
    margin: 1vw 2%;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    font-size: 1vw;
}

.card2-wrapper {
    display:inline-block;
    text-align: center;
    margin: 0;
    padding: 2vw 0;
    width: 100%;
    background-color: #E3E3E3;
    box-sizing: border-box;
}

.card2 h4 {
    display: block;
    margin: 0 0 1vw 0;
    padding:  0;
    height: auto;
    overflow: hidden;
    font-size: 1.5vw;
}

.card2 p {
    display: block;
    margin: 0 0 1.5vw 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    line-height: 1.4;
    text-align:left;
}

.card2 img {
    display: block;
    width: 100%;
    height: 7vw;
    border-radius: 10px;
    margin: 0 auto;
}

.det{
    border: solid thin black;
    background-color: blue;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    padding:0.5vw;
    font-size: 1vw;
    list-style: groove;
    display: inline-block;
}

