body {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #E3E3E3;
    justify-content: space-evenly;
    text-align: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E3E3E3;
    height: 5%;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid thin grey;
    margin-bottom: 0.5vw;
    padding: 0 1vw;
}

nav a {
    text-decoration: none;
    color: #164B69;
    font-weight: bold;
    margin:0.5vw 0;
    font-size: 1vw;
    padding: 1vw;
}

nav .links-wrapper {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 0.5vw;
}

nav .topic {
    background-color: #164B69;
    color: white;
    border-radius: 5px;
}

nav form{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 0.5vw;
}
nav form input[type="text"] {
    width:10vw;
    height:1vw;
    font-size: 1vw;
}
nav form input[type="submit"]{
    width:5vw;
    height:1.5vw;
    font-size: 1vw;
    text-align: center;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 25%;
    background-color: #E3E3E3;
}

.gallery > div {
    width: 20vw;
    height: 10vw;
}

.gallery > div > img {
    width: 100%;
    height: 100%;
}

.gallery > .img1 {
    grid-area: 1/1/2/2;
    margin: 0;
    width: 34vw;
    height:7vw;
}

.gallery > .img2 {
    grid-area: 1/2/2/4;
    margin: 0;
    width: 63.5vw;
    height:7vw;
}

.gallery > .img3 {
    grid-area: 2/1/3/3;
    margin: 0;
    width: 68vw;
    height:7vw;
}

.gallery > .img4 {
    grid-area: 2/3/3/4;
    margin:0;
    width: 29.5vw;
    height:7vw;
}

article {
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

aside {
    height: 60%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: solid 0.2vw black;
}

footer {
    height: 10%;
    width: 100%;
    background-color: #E3E3E3;
    color: #164B69;
    text-align: center;
    font-weight: bold;
    padding: 2vw 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 25%;
    background-color: lightblue;
    border-radius: 15px;
    padding: 1.5vw;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    font-size: 1vw;
}

.card2-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 1vw 0;
    width: 100%;
    background-color: #E3E3E3;
    box-sizing: border-box;
}

.card2 h4 {
    display: flex;
    margin: 0 0 1vw 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    font-size: 1.5vw;
    width: 100%;
    justify-content: center;
}

.card2 p {
    display: flex;
    margin: 0 0 1.5vw 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    line-height: 1.4;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.card2 img {
    display: flex;
    width: 100%;
    height: 7vw;
    border-radius: 10px;
    margin: 0 auto;
}

.card1 {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin-right: 0.5vw;
    box-sizing: border-box;
    font-size: 1vw;
}

.card1-wrapper img {
    width: 50%;
    height: 8vw;
    margin: 0;
}

.card1 p {
    margin: 0;
}

.card1 h4 {
    margin: 0;
}

.card1-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw auto;
    width: 100%;
    height: 10vw;
    box-sizing: border-box;
}

.det {
    border: solid thin black;
    background-color: blue;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 0.5vw;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 2vw;
        gap: 2vw;
    }

    nav .links-wrapper {
        flex: none;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vw;
        justify-items: center;
    }

    nav a {
        font-size: 3.5vw;
        padding: 2vw;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    nav form {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0;
        width: 100%;
        justify-content: center;
        display: flex;
        gap: 1vw;
    }

    nav form input[type="text"] {
        width: 60%;
        height: 10vw;
        font-size: 4vw;
    }

    nav form input[type="submit"] {
        width: 30%;
        height: 10vw;
        font-size: 4vw;
    }

    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
        gap: 2vw;
        padding: 2vw;
    }

    .gallery > div {
        grid-area: auto !important;
        width: 100%;
        height: 50vw;
    }

    .gallery > .img1,
    .gallery > .img2,
    .gallery > .img3,
    .gallery > .img4 {
        width: 100%;
        height: 50vw;
    }

    article, aside {
        width: 100%;
        height: auto;

        border-left: none;
        border-top: solid 0.2vw black;
        padding-top: 4vw; 
    }

    aside {
        border-top: solid 0.2vw black;
    }

    .card2-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card2 {
        width: 90%;
        height: auto;
        min-height: 200px;
        margin-bottom: 4vw;
        font-size: 4vw;
    }

    .card2 h4 {
        font-size: 5vw;
    }

    .card2 img {
        height: 40vw;
    }

    .card1-wrapper {
        flex-direction: column;
        height: auto;
        margin: 4vw 0;
        padding: 2vw;
    }

    .card1 {
        width: 100%;
        align-items: center;
        text-align: center;
        font-size: 4vw;
        margin-top: 2vw;
    }

    .card1-wrapper img {
        width: 100%;
        height: 50vw;
        margin-bottom: 2vw;
    }

    .det {
        font-size: 4vw;
        padding: 2vw;
    }

    footer {
        font-size: 3.5vw;
        padding: 4vw 0;
    }
}
