body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: lightgrey;
}

.task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    border: solid thin;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    width: 900px;
    box-sizing: border-box;
}

.task > img {
    width: 390px;
}

.task > .input {
    flex: 1 1 300px;
}

.task > .output {
    flex: 1 1 100%;
    background-color: lightgrey;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

.bold {
	font-weight: bold;
}

.error { 
	border: solid thin red; 
}

.h-error {
    color: red;
}